header{
    background-color: red;
}
nav{
    background-color: #00b3ee;
}
section{
    background-color: blue;
}
article{
    background-color: #9d9d9d;
}
aside{
    background-color:beige;
}
footer{
    background-color: red;
}
